---
import '@fontsource-variable/open-sans';
import '@fontsource-variable/montserrat';

export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="lg:px-20">
    <slot />
  </body>
</html>
<style is:global>
  :root {
    --accent: 124, 58, 237;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      #da62c4 30%,
      white 60%
    );
  }
  html {
    background-color: #070d22;
    font-family: 'Montserrat Variable', sans-serif;
    transition: all 0.5s ease;
  }
  code {
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
      DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
  }
  /* scrollbar */
  * {
    /* IE */
    scrollbar-face-color: #596975;
    scrollbar-shadow-color: #596975;
    scrollbar-darkshadow-color: #596975;
    scrollbar-track-color: rgba(217, 228, 235, 0.75);
    scrollbar-arrow-color: #596975;
    /* FireFox */
    scrollbar-color: #596975 rgba(217, 228, 235, 0.75);
    scrollbar-width: thin;
  }

  /* Chrome */
  *::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
  }
  *::-webkit-scrollbar-button {
    width: 0;
    height: 0;
  }
  *::-webkit-scrollbar-thumb {
    background: #99a8b0;
    border-radius: 8px;
  }
  *::-webkit-scrollbar-track {
    background: unset;
  }
</style>
